<div class="login">
  <form class="form login-form">
    <h2>Login</h2>

    <div class="form-group">
      <input class="form-input" type="text" id="email-login" placeholder="Email">
    </div>
    <div class="form-group">
      <input class="form-input" type="password" id="password-login" placeholder="Password">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>

    <div class="register">
      <h2>Sign Up</h2>
    </div>

    <div class="form-group">
      <input class="form-input" type="text" id="name-signup" placeholder="Full Name">
    </div>
    <div class="form-group">
      <input class="form-input" type="text" id="email-signup" placeholder="Email">
    </div>
    <div class="form-group">
      <input class="form-input" type="password" id="password-signup" placeholder="Password">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
  </form>
</div>