<section>
  <!-- display the users name, member of *crew number* -->
  <div class="row">
    <div class="col-auto mx-auto">
        <h1>{{name}}'s Profile</h1>
    </div>
  </div>
  <div>
    <h3>Email Address:{{email}}</h3>

    <h3>Group number: {{group}}</h3>

    <h3>Number of tasks completed: {{completedTasks}}</h3>
  </div>

  <!-- number of completed tasks -->

  <!-- username -->

  <!-- email if provided-->

  

</section>

