<section>
    <div class="project">
        <h1>Project Overview</h1>
    </div>

    {{!-- display the manager of the project --}}
    {{!-- display the crew members crew number --}}
    <div class="card-container">
        <div class="card">
            <h2>Project Manager</h2>
            <p>{{name}}</p>
            <div class="card-content">
                <h3>Group #{{group}}</h3>
                <ul>
                  {{#each crew}}
                  <li>{{this.name}}</li>
                  {{/each}}
                </ul>
            </div>
        </div>
    </div>

    {{!-- display what phase of the project this person is in --}}
</section>